/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header, footer {
  font-family: 'Syncopate', sans-serif;
  background-color: #FFFF;
  padding: 5px 0;
  display: flex;
  
}

.bottompage {
  color: #7A306C;
}

header img {
  width: 80px;
  height: auto;
  margin: 0 0 0 10px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  margin: 20px 0 0 5px;
  font-size: 20px;
}

.logopic {
  width: 80px;
  height: auto;
}

footer {
  max-width: 100%;
  text-align: center;
  align-items: center;
  font-size: .9rem;
  margin: 0 auto;
  display: block;

}

.placeholder {
  background-color: #66666E;
  border: 1px solid rgb(46, 55, 58);
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  color: #fff;
  font-weight: bold;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: #7A306C;
  margin-left: 5px;
}

nav {
  background-color: #FFFF;
  font-family: 'Syncopate', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 0 0 5px 5px;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #7A306C;
  background-color: white;
  
}

nav ul li.legazpi a {
  background-color:#7A306C; color: #FFFF;
}

nav ul li.legazpi a:hover {
  color: #ffff;
}

nav ul li.tabaco a {
  background-color:#7A306C; color: #FFFF;
}

nav ul li.tabaco a:hover {
  color: #ffff;
}

nav ul li.naga a {
  background-color:#7A306C; color: #FFFF;
}

nav ul li.naga a:hover {
  color: #ffff;
}

nav ul li.home a {
  background-color:#7A306C; color: #FFFF;
}

nav ul li.home a:hover {
  color: #ffff;
}

nav ul li.gallery a {
  background-color: rgba(0,0,0,0.4); 
  color: #00A8E8;
}

nav ul li.gallery a:hover {
  color: #fff;
}

nav ul li.joinus a {
  background-color:#7A306C; color: #FFFF;
}

nav ul li.joinus a:hover {
  color: #ffff;
}

nav ul li a:hover {
  background-color: #55828B;
color: #ffff;
}

nav button:hover {
  color: #55828B
}

nav ul.hidenav {display: none;}

.join a {
  display: flex;
  justify-content: center;
  font-size: 30px;
  list-style: none;
  text-align: center;
  align-items: center;
  color: #7A306C;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.join a:link {
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main {
  display: block;
  margin: 0 auto;
}

h3 {
  font-family:'Advent Pro', sans-serif;
  font-size: 20px;
}

.heroarea {
  margin: 10px auto;
  position: relative;
  width: 100%;
  height: auto;
}

#hero {
  margin: 10px auto;
  width: 100%;
  height: auto;
}

#hero img {
  width: 100%;
  height: auto;
}

section {
  display: block;
}

div {
  display: block;
}

body {
  display: block;
  max-width: 100%;
}

h3.title {
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  color: #55828B;
}

#weathersummary {
  background-color: #55828B;
  padding: 10px;
  text-align: center;
  margin-bottom: -15px;
}

#weathersummary h3 {
  font-family: 'Syncopate', sans-serif;
  color: #fff;
  font-size: 1rem;
}


#weathersummary p {
  font-family: 'Syncopate', sans-serif;
  height: auto;
  color: #fff;
  font-size: .8rem;
}

table, th, td {
  border: 1px solid black;
}

.fiveday {
  display: none;
}

table {
  display: table;
}

#bannerbox {
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #00A8E8;
  font-size: 20px;
}

.articlearea {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.article {
  margin: 25px auto;
  padding: 1.2rem;
  box-shadow: 0 0 5px #333;
  background-color: #EEF1EF;
  text-align: left;
  border: 1px solid black;
}

.article img {
  width: 100%;
  height: auto;
}


.article h3 {
  font-family: 'Advent Pro', sans-serif;
  color: #55828B;
}

.article p {
  font-family: 'Advent Pro', sans-serif;
  font-size: 18px;
}

.article h5 a {
  text-decoration: none;
  color:#7A306C;
  margin-bottom: 20px;
}

.contactarea {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 0;
  justify-items: center;
  align-items: center;
  padding: 1.2rem;
  
}

.legazpimap {
  width: 100%;
  height: auto;
}

.contactinfo {
  line-height: 10px;
  background-color: #55828B;
}

.contactinfo p {
  font-family: 'Syncopate', sans-serif;
  color: white;
  
}

.contactinfo h4 {
  font-family: 'Syncopate', sans-serif;
  color: white;
}

.contactinfo span {
  line-height: 1.8rem;
}
.socialicons {
  width: 70px;
  height: auto;
  padding: 1rem;
  justify-content: space-evenly;
}

img[data-src] {
  filter: blur(0.5em);
}

img {
  filter: blur(0em);
  transition: filter 0.9s;
}

.busdirect {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 100%;
  height: auto;
}

figure img:hover {
  box-shadow: 0 0 50px #333;
}

figcaption {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 3px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

form fieldset {
  max-width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem 4%;
  align-items: center;
  margin: 30px 120px 0px 120px;
}

main form {
  font-family: 'Montserrat', sans-serif;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
}


form legend {
  font-weight: bold;
  color: black;
  margin: 0 1.1rem;
  padding: 0 0.5rem;
  font-size: 18px;
  font-family: 'Syncopate', sans-serif;
}

form label.top, form div {
  display: block;
  color: black;
  padding-top: 1rem;
  font-size: .9rem;
}


form label.top input:required {
  border-bottom: 3px solid #7A306C;
  text-align: center;
}

form label.top input:required:valid {
  border-bottom: 5px solid #55828B;
}

.flexly {
  -webkit-appearance: none;
  display: block;
  padding: 0.7rem;
  font-size: 1rem;  
}

form label.side {
  display: block;
  padding: 0.6rem 0;
  color: black;
  font-size: .85rem;
}

label.comments textarea {
  display: block;
  border: 1px solid #999;
  border-radius: 4px;
  color: #555;
  font-size: 1rem;
  padding: .75rem;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

form input.submitBtn {
  border: none;
  background-color: #7A306C;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  width: 96%;
  max-width: 20rem;
  animation: blinker 1s linear infinite;
}


main.thanks {
  width: 100%;
}

h1.message {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-size: 55px;
}

p.confirm {
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

div.returnBtn {
  text-align: center;
  margin-bottom: 50px;
}

button.return {
  font-family: 'Syncopate', sans-serif;
  background-color: #7A306C;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: .75rem 1.5rem;
  width: 96%;
  max-width: 20rem;
  margin-bottom: 10px;
}

div.heroArea img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

h2#chamberHome {
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
  color: #7A306C;
}

section.chamber h2 {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  justify-content: center;
}

section.chamber p {
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  justify-content: center;
  font-size: 22px;
}

section.business {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  color: #7A306C;

}

article.business1 {
  margin-top: 10px;
  background-color: #EEF1EF;
  border: 1px solid black;
  border-radius: 10px;
}

article.business2 {
  margin-top: 10px;
  background-color: #EEF1EF;
  border: 1px solid black;
  border-radius: 10px;
}

article.business3 {
  margin-top: 10px;
  background-color: #EEF1EF;
  border: 1px solid black;
  border-radius: 10px;
}

.content {
  position: relative;
}

div.content h2 {
  font-size: 20px;
}

div.content p {
  font-size: 15px;
}

.motto {
  text-align: center;
  font-size: 20px;
}

div.image img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

article.homeArticle {
  border: 1px solid black;
  margin: 10px 0 10px 0;
  background-color: #EEF1EF;
}

article.homeArticle h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

article.homeArticle img {
  width: 100%;
  height: auto;
  display: block;
}

article.homeArticle h5, p {
  font-family: 'Syncopate', sans-serif;
  font-size: 15px;
  margin-left: 10px;
}

section.events {
  background-color: #EEF1EF;
  box-shadow: rgb(51 51 51) 0px 0px 5px;
  border: 1px solid black;
  margin-top: 30px;
  text-align: center;
}