
header, main, footer {
  max-width: 800px;
  margin: auto;
}

header {
  background-color: #66666E;
  padding: 1rem;
  margin-top: 10px;
  display: flex;
} 

.headings {
  color: #fff;
  margin: 0 0 0 30px;
}

h1 { 
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2rem
}

h2 {
  font-size: 1em;
  color: #00A8E8;
}

header img {
  width: 200px;
  height: auto;
}

img {
  border-style: none;
}

footer {
  text-align: center;
  background-color: #66666E;
  max-width: 800px;
  height: auto;
  padding: 1rem;
  color: #fff;
}

li {
  font-family: 'Roboto', sans-serif;
}

footer a {
  color: #00A8E8;
}