@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


header, main, footer {
  max-width: 800px;
  margin: auto;
}

header {
  background-color: coral;
  font-size: 1.5rem;
  padding: 1rem;
} 

h1 {
  font-family: 'Lilita One', cursive;
  text-align: center;
}

.headerpic {
  float: right;
  width: 200px;
  height: auto;
}

footer {
  text-align: center;
  background-color: coral;
  max-width: 800px;
  height: auto;
  padding: 1rem;
}