
header, main, footer {
  max-width: 800px;
  margin: auto;
}

header {
  background-color: coral;
  padding: 1rem;
  margin-top: 10px;
} 

h1 { 
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2rem
}

h2 {
  font-size: 1em;
}

header img {
  width: 200px;
  height: auto;
}

img {
  border-style: none;
}

footer {
  text-align: center;
  background-color: coral;
  max-width: 800px;
  height: auto;
  padding: 1rem;
}

li {
  font-family: 'Roboto', sans-serif;
}