/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 60rem) {
      
      header .headings {
        font-size: 1.2rem;;
      }
      
      header .motto {
        font-size: .9rem;
      }
      
      .logopic {
        width: 100px;
        height: auto;
      }
      
      nav {
        background-color: #66666E;
      }
      
      nav {
        width: 100%;
      }
      nav button {display: none;}
    
      nav ul.hidenav {display: flex;}
      
      nav ul {
        width: 100%;
        margin: 0;
      }
      
      nav ul {display: flex; }
      nav ul li {flex: 1 1 100%; }

      nav ul li {float: left;
      text-align: center;}
    
      nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
        flex: 1 1 auto;
        background-color: #66666E;
        color: #fff;
      }

      main {
       max-width: 900px;
       margin: 0 auto;
      }
      
      footer {
        max-width: 900px;
        text-align: center;
        align-items: center;
        font-size: .9rem;
        margin: 0 auto;
        display: block;
      }

      .placeholder {
        font-size: 1rem;
      }

      h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
      }

      .weatherGallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }


} /*end large */