@media only screen and (min-width: 38rem) {
      
  header .headings {
    font-size: 1.1rem;
  }

  header .motto {
    font-size: .8rem;
  }

  footer {
    max-width: 100%;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
  }

  #weathersummary {
    display: grid;
    position: absolute;
    top: 220px;
    left: 30px;
    background-color: rgba(49,49,49,0.7);
    padding: 20px;
  }
  
}  