/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header, footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #F3DE8A;
  padding: 5px 0;
  display: flex;
  
}

header img {
  width: 80px;
  height: auto;
  margin: 0 0 0 10px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  margin: 10px 0 0 5px;
}

.motto {
  font-style: italic;
  letter-spacing: .5pt;
  font-size: .9rem;
  margin: 0 0 0 18px;
}

footer {
  max-width: 100%;
  text-align: center;
  align-items: center;
  font-size: .9rem;
  margin: 0 auto;
  display: block;
}

.placeholder {
  font-family: 'DM Sans', sans-serif;
  background-color: #66666E;
  border: 1px solid rgb(46, 55, 58);
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  color: #fff;
  font-weight: bold;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: #fff;
  margin-left: 5px;
}

nav {
  background-color: #66666E;
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 0 0 5px 5px;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.preston a{background-color: rgba(0,0,0,0.4); color: #00A8E8;}

nav ul li.preston a:hover {
  color: #fff;
}

nav ul li a:hover {background-color: rgba(0,0,0,0.4);
color: #00A8E8}

nav button:hover {color: #00A8E8}

nav ul.hidenav {display: none;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main {
  display: block;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#hero img {
  max-width: 100%;
  height: auto;
}

#weathersummary {
  display: grid;
  position: absolute;
  top: 210px;
  left: 20px;
  background-color: rgba(49,49,49,0.7);
  padding: 10px;
}

#weathersummary h3 {
  font-family: 'Montserrat', sans-serif;
  grid-column: 1/3;
  margin: 0;
  color: #fff;
  font-size: 18px;
}

#weathersummary label {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  color: #fff;
  height: auto;
  margin: 2px 2px 0 0;
  font-size: 15px;
}

#weathersummary p {
  margin: 0 0 0 2px;
  padding: 1px;
  height: auto;
  color: #F3DE8A;
  font-size: 15px;
}

#fivedayforecast {
  width: 100%;
  min-width: 300px;
  margin: auto;
  text-align: center;
}

.forecastday {
  background-color: #66666E;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.foretemp {
  outline-style: inset;
  outline-color: rgba(0,0,0,0.3); 
  align-items: center;
  height: auto;
  padding: 2px;
}

.foretemp p {
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#bannerbox {
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #00A8E8;
  font-size: 20px;
}



