/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header, footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #F3DE8A;
  padding: 5px 0;
  display: flex;
  
}

header img {
  width: 80px;
  height: auto;
  margin: 0 0 0 10px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  margin: 10px 0 0 5px;
}

.motto {
  font-style: italic;
  letter-spacing: .5pt;
  font-size: .9rem;
  margin: 0 0 0 18px;
}

footer {
  max-width: 100%;
  text-align: center;
  align-items: center;
  font-size: .9rem;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
  box-shadow: 0 0 5px #333;
}

.placeholder {
  font-family: 'DM Sans', sans-serif;
  background-color: #66666E;
  border: 1px solid rgb(46, 55, 58);
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  color: #fff;
  font-weight: bold;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: #fff;
  margin-left: 5px;
}

nav {
  background-color: #66666E;
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 0 0 5px 5px;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.preston a{background-color: rgba(0,0,0,0.4); color: #00A8E8;}

nav ul li.preston a:hover {
  color: #fff;
}

nav ul li a:hover {background-color: rgba(0,0,0,0.4);
color: #00A8E8}

nav button:hover {color: #00A8E8}

nav ul.hidenav {display: none;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

main {
  display: block;
  margin: 0 auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.heroarea {
  margin: 10px auto;
  position: relative;
  width: 100%;
  height: 250px;
}

#hero {
  margin: 10px auto;
  width: 100%;
  height: 250px;
}

#hero img {
  width: 100%;
  height: 300px;
}

section {
  display: block;
}

div {
  display: block;
}

body {
  display: block;
  max-width: 100%;
}

#weathersummary {
  background-color: rgba(49,49,49,0.8);
  padding: 10px;
  margin-top: 4rem;
  text-align: center;
  border: 1px solid black;
}

#weathersummary h3 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 18px;
}


#weathersummary p {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  color: #fff;
  font-size: 15px;
}

.fiveday {
  display: none;
}

table {
  display: table;
}

#bannerbox {
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #00A8E8;
  font-size: 20px;
}

.articlearea {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 19rem;
}

.article {
  margin: 25px auto;
  padding: 1.2rem;
  box-shadow: 0 0 5px #333;
  background-color: #EEF1EF;
  text-align: left;
  border: 1px solid black;
}

.article img {
  float: right;
  margin: 1rem;
  width: 300px;
  height: auto;
  border: 1px solid rgb(41,42,41);
  box-shadow: 0 0 5px #333;
}

.article p, h3 {
  font-family: 'Montserrat', sans-serif;
}

.article h5 a {
  text-decoration: none;
  color: #00A8E8;
  margin-bottom: 20px;
}

.contactarea {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 0;
  justify-items: center;
  align-items: center;
  padding: 1.2rem;
  background-color: #EEF1EF;
}

.prestonmap {
  width: 250px;
  margin: 0 auto;
  align-items: center;
}

.contactinfo {
  line-height: 10px;
}

.contactinfo h4 {
  font-family: 'Montserrat', sans-serif;
}

.contactinfo span {
  line-height: 1.8rem;
}
.socialicons {
  height: auto;
  padding: 1rem;
  justify-content: space-evenly;
}