@media only screen and (min-width: 38em) {
	h1 { font-size: 35px; }

  h2 { font-size: 30px; }

  h3 { font-size: 25px; }

  h4 { font-size: 20px; }


  nav ul {display: flex; }
  nav ul li {flex: 1 1 100%; }

  nav a {font-size: 1rem; }

}